main.booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  background-color: var(--highlight1);
  width: fit-content;
  padding: 50px;
  margin-top: 30px;
  margin-bottom: 40px;

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-content: center;
    margin-top: 20px;

    .form-field label {
      margin-bottom: 5px;
    }

    label span {
      color: var(--error);
    }

    .error-msg {
      color: var(--error);
    }

    input,
    select {
      height: 40px;
      width: 100%;
      font-size: 18px;
      border-radius: 10px;
      padding: 0 10px;
      margin-top: 5px;

      &.invalid,
      &.invalid {
        border: 1px solid var(--error);
      }
    }

    button {
      margin-top: 30px;
    }
  }

  @media (min-width: 576px) { 
    form {
      width: 450px;
    }
  }

  @media (min-width: 768px) {
    form {
      width: 500px;
    }
  }
}
