.booking-slots {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
}

.booking-slot {
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.booking-slot.available {
  background-color: var(--success);
}

.booking-slot.reserved {
  background-color: var(--error);
}
