footer {
  min-height: 350px;
  width: 100%;
  background-color: #edefee;
  align-items: flex-start;
  padding-top: 55px;

  .footer-col {
    flex: 1 0;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;

    img {
      height: 250px;
      width: auto;
    }

    ul {
      list-style-type: none;
      width: 50%;

      li.section-category {
        color: var(--primary1);
        margin-bottom: 10px;
      }

      li:not(.section-category):hover {
        color: var(--success);
      }
    }
  }

  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .footer-col {
      flex-basis: 50%;
      /* align-items: center; */
    }
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .footer-col {
      flex-basis: 25%;
    }
  }
}
