header {
  display: flex;
  justify-content: space-evenly;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;

  img {
    height: auto;
    width: 15%;
    min-width: 200px;
  }
}
