article.testimonial {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 20px;
  border-radius: 15px;
  background-color: var(--highlight1);
}

article.testimonial:hover {
  background-color: var(--highlight1);
  animation: article-scale 0.3s both;
}


article.testimonial img {
    height: 30%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 13px;
    margin-bottom: 15px;
}

article.testimonial .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

article.testimonial .header .price {
    color: var(--secondary1);
}

article.testimonial a {
    text-decoration: none;
    color: var(--highlight2);
    font-weight: 600;
}

