:root {
  --primary1: #495e57;
  --primary2: #f4ce14;
  --secondary1: #ee9972;
  --secondary2: #fbdabb;
  --highlight1: #edefee;
  --highlight2: #333333;
  --success: #388E3C;
  --error: #C62828;
}


header, footer,
main section {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  height: 100%;
  padding: 0 13%;
}

main {
  min-height: calc(100vh - 128px);
  margin: auto;
}

.display-title {
  font-family:  'Markazi Text', sans-serif;
  font-weight: 500;
  font-size: 64px;
  margin-bottom: 10px;
}

.sub-title {
  font-family:  'Markazi Text', sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 10px;
}

.lead-text {
  font-family:  'Karla', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.section-title {
  font-family:  'Karla', sans-serif;
  font-weight: 800;
  font-size: 20px;
}

.section-category {
  font-family:  'Karla', sans-serif;
  font-weight: 800;
  font-size: 16px;
}

.card-title {
  font-family:  'Karla', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.paragraph {
  font-family:  'Karla', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.highlighted {
  font-family:  'Karla', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.button {
  font-size: 120%;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  border-width: 0;
  height: 50px;
}

.button a {
  text-decoration: none;
  color: initial;
}

.button:hover {
  animation: button-scale 0.2s both;
}

.button[disabled] {
  opacity: 0.6;
}

.button[disabled]:hover {
  animation: none;
}

.button-primary {
  background-color: var(--primary2);
  color: black;
}


@keyframes button-scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.3);
  }
}

@keyframes article-scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.02);
  }
}
